[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "npm run prisma:generate",
  "npm run build"
]

[start]
cmd = "npm run prisma:push && npm run prisma:seed && npm start"
